#**What is data preprocessing?**

Data preprocessing is a data mining technique that involves transforming raw data into an understandable format.

**Load the library to run the functions**

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2, f_regression
from sklearn.datasets import load_boston
from sklearn.datasets import load_iris
from numpy import array 
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.pipeline import make_pipeline
from sklearn import svm
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeRegressor 
from sklearn.pipeline import make_pipeline
from sklearn.datasets import make_friedman1
from sklearn.feature_selection import RFE
from sklearn.svm import SVR
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_selection import RFECV
from sklearn.datasets import make_classification

/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

**Load the dataset**

In [3]:
from google.colab import files
uploaded = files.upload()

Saving train_cleaned.csv to train_cleaned.csv

In [5]:
data_set = pd.DataFrame()
data_set_test = pd.DataFrame()
X = pd.DataFrame()
y = pd.DataFrame()
data_set =  pd.read_csv("train_cleaned.csv")
data_set.head(5)

        dur  spkts  dpkts  ...  ct_srv_dst  is_sm_ips_ports  label
0  0.000011      2      0  ...           2                0      0
1  0.000008      2      0  ...           2                0      0
2  0.000005      2      0  ...           3                0      0
3  0.000006      2      0  ...           3                0      0
4  0.000010      2      0  ...           3                0      0

[5 rows x 40 columns]

In [39]:
def loaddata(train,test):
  data_set =  pd.read_csv(train)
  data_set_test = pd.read_csv(test)
  data_set_test = data_set_test.drop(columns=['proto','service','state','attack_cat'])
  print(data_set.head(5))
  X=data_set.drop(columns='label', axis = 1)
  y=data_set['label']
  return data_set,data_set_test,X,y

##1.**Correaltion analysis**




*   Correlation can help in predicting one attribute from another (Great way to impute missing values).
*   List itemCorrelation can (sometimes) indicate the presence of a causal relationship.

**X (train) , y(label)**

**Remove the highly correlated features : to each other**

Advantage: Reduces noise

###1.1**Function to remove highly correlated data**

In [7]:
def removeHcorrFeature(percentage,X):
  # Selecting all the features with high correlation values with other features
  # Refer: https://chrisalbon.com/machine_learning/feature_selection/drop_highly_correlated_features/
  corr_matrix = X.corr().abs()

  # Select upper triangle of correlation matrix
  upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

  # Find index of feature columns with correlation greater than 0.9
  o_drop = [column for column in upper.columns if any(upper[column] > percentage)]
  print(o_drop)
  return o_drop

#2.**Feature Engineering**

Feature engineering is useful to improve the performance of machine learning algorithms and is often considered as applied machine learning. Features are also referred to as ‘variables’ or ‘attributes’ as they affect the output of a process.

###2.1**Function to create new features**

In [8]:
def createNewFeatures():
   # data_set['network_bytes'] = data_set['sbytes'] + data_set['dbytes']
    #data_set_test['network_bytes'] = data_set_test['sbytes'] + data_set_test['dbytes']
    #data_set.drop(columns=['sbytes','dbytes'])
    #data_set_test.drop(columns=['sbytes','dbytes'])
    print(X)
    print("done")

#3.**Feature elimination**

**RFE is an efficient approach for eliminating features from a training dataset for feature selection.**

###3.1**SelectKbest**

**Function for SelectKbest**

In [9]:
def applySelectKBest(K,X,y):
  select = SelectKBest(score_func=f_regression, k=K)
  print(X)
  z = select.fit_transform(X, y) 
  print("After selecting best  features:", z)  
  filter = select.get_support()
  features = X.columns
  print("All features:")
  data_set.name =  features
  print(features[filter])
  return features[filter]

###3.2**Recursive Elimination**

**Function for feature Elimination**

In [10]:
def RFE(X,y):

  # Build a classification task using 3 informative features


# Create the RFE object and compute a cross-validated score.
    svc = SVC(kernel="linear")
# The "accuracy" scoring shows the proportion of correct classifications

    min_features_to_select = 25 
    rfecv = RFECV(
    estimator=svc,
    step=1,
    cv=StratifiedKFold(2),
    scoring="accuracy",
    min_features_to_select=min_features_to_select,
)
    rfecv.fit(X, y)

    print("Optimal number of features : %d" % rfecv.n_features_)

# Plot number of features VS. cross-validation scores
    plt.figure()
    plt.xlabel("Number of features selected")
    plt.ylabel("Cross validation score (accuracy)")
    print(plt.plot(
    range(min_features_to_select, len(rfecv.grid_scores_) + min_features_to_select),
    rfecv.grid_scores_,
     ))
    print(plt.show())

#4.**Principle component Analysis**

###4.1**Functions for applying PCA method**

In [11]:
def applyPCA(X, n_com):
   pca = PCA(n_components=n_com).fit(X)
   X_train_pca = pca.transform(X)
   print(pca.n_components_)
   return X_train_pca

#5.**Feature Scaling**

###5.1**MinMaxScaling**

**Function for min max scaling**

In [12]:
def applyMinMax(data):  
# scale features
  scaler = MinMaxScaler()
  model=scaler.fit(data)
  scaled_data=model.transform(data)
  return scaled_data
  #print(data_set)

###5.2**Standard Scaling**

**Function for standard scaling**

In [13]:
def applyStandardScaler(data):
  scaler = StandardScaler()
  model = scaler.fit(data)
  scaled_data = model.transform(data)
  #print(data_set)
  return scaled_data

# Main function

In [51]:
def main():
  # create variables to store the return value
    col=[]
    col_selectkbest=[]
    col_backward=[]

    col_forward=[]
    K=10
    n_com= 0.99
  
    print("Load the data")
    data_set,data_set_test,X,y = loaddata("train_cleaned.csv","test_cleaned.csv")
    print("**************************************************************************************************************")

    print("Create new feature")
    createNewFeatures()
    print("**************************************************************************************************************")

    print("Remove highly correlated features with each other")
    
    col = removeHcorrFeature(0.99, X)
    print(col)
    data_set.drop(data_set[col], axis=1, inplace=True)
    data_set_test.drop(data_set_test[col], axis=1, inplace=True)
    X.drop(X[col], axis=1, inplace=True)
    print("Columns of data_set : ",len(data_set.columns))
    print("Columns of data_set_test : ",len(data_set_test.columns))
    print("Columns of X:", len(X.columns))


    print("**************************************************************************************************************")

    print("Feature selection:SelectKbest")
    col_selectkbest =  applySelectKBest(K,X,y)
    data_set.drop(data_set[col_selectkbest], axis=1, inplace=True)
    data_set_test.drop(data_set_test[col_selectkbest], axis=1, inplace=True)
    X.drop(X[col_selectkbest], axis=1, inplace=True)
    print("check the length here ")
    print(len(data_set.columns))
    print(len(data_set_test.columns))

    print("**************************************************************************************************************")

    #Backward elimination is only  for data inferences 
    #print("Feature selection:Backward elimination")
    #col_backward = RFE(X,y)
    #print(col_backward)
    #print("**************************************************************************************************************")

    print("Apply Principle component analysis")
    X = applyPCA(X, n_com)
    print(X)
    data_set = pd.DataFrame(X, columns = ['Column_A','Column_B'])
    data_set = pd.concat([data_set, y], axis=1)
    X1=data_set_test.drop(columns=['label'], axis = 1)
    print("the X1", X1)
    y1=data_set_test['label']
    X1 = applyPCA(X1, n_com)
    data_set_test = pd.DataFrame(X1, columns = ['Column_A','Column_B'])
    data_set_test = pd.concat([data_set_test, y1], axis=1)
    print("length of columns:",len(data_set.columns))
    print("length of columns:",len(data_set_test.columns))
    print("the PCA trabformation:",data_set_test)

    print("**************************************************************************************************************")
    print("this much")
    print("Apply MinMax scaler")
    X=data_set.drop(columns='label', axis = 1)
    y=data_set['label']
    X = applyMinMax(X)
    X = pd.DataFrame(X, columns = ['Column_A','Column_B'])
    data_set = pd.concat([X, y], axis=1)
    X1 =data_set_test.drop(columns=['label'], axis = 1)
    y=data_set_test['label']
    X1 = applyMinMax(X1)
    X1 = pd.DataFrame(X1, columns = ['Column_A','Column_B'])
    data_set_test = pd.concat([X1, y1], axis=1)

    print("**************************************************************************************************************")

    print("Apply Standard scaler")
    X=data_set.drop(columns='label', axis = 1)
    y=data_set['label']
    X = applyStandardScaler(X)
    X = pd.DataFrame(X, columns = ['Column_A','Column_B'])
    data_set = pd.concat([X, y], axis=1)
    X1 =data_set_test.drop(columns='label', axis = 1)
    y=data_set['label']
    X1 = applyStandardScaler(X1)
    X1 = pd.DataFrame(X1, columns = ['Column_A','Column_B'])
    data_set_test = pd.concat([X1, y1], axis=1)
    print("after minmax scaler:",data_set.head(5))
    print("**************************************************************************************************************")


    print("The final train data")
    print(data_set.head(5))
    print("**************************************************************************************************************")

    print("The final test data")
    print(data_set_test.head(5))
    print("**************************************************************************************************************")
    return data_set,data_set_test

data_set,data_set_test = main()

Load the data
        dur  spkts  dpkts  ...  ct_srv_dst  is_sm_ips_ports  label
0  0.000011      2      0  ...           2                0      0
1  0.000008      2      0  ...           2                0      0
2  0.000005      2      0  ...           3                0      0
3  0.000006      2      0  ...           3                0      0
4  0.000010      2      0  ...           3                0      0

[5 rows x 40 columns]
**************************************************************************************************************
Create new feature
Empty DataFrame
Columns: []
Index: []
done
**************************************************************************************************************
Remove highly correlated features with each other
['sloss', 'dloss', 'ct_ftp_cmd']
['sloss', 'dloss', 'ct_ftp_cmd']
Columns of data_set :  37
Columns of data_set_test :  37
Columns of X: 36
**************************************************************************************************************
Feature selection:SelectKbest
            dur  spkts  dpkts  ...  ct_src_ltm  ct_srv_dst  is_sm_ips_ports
0      0.000011      2      0  ...           1           2                0
1      0.000008      2      0  ...           1           2                0
2      0.000005      2      0  ...           1           3                0
3      0.000006      2      0  ...           2           3                0
4      0.000010      2      0  ...           2           3                0
...         ...    ...    ...  ...         ...         ...              ...
82327  0.000005      2      0  ...           2           1                0
82328  1.106101     20      8  ...           3           2                0
82329  0.000000      1      0  ...           1           1                1
82330  0.000000      1      0  ...           1           1                1
82331  0.000009      2      0  ...           1           1                0

[82332 rows x 36 columns]
After selecting best  features: [[9.09090902e+04 2.54000000e+02 0.00000000e+00 ... 1.00000000e+00
  1.00000000e+00 2.00000000e+00]
 [1.25000000e+05 2.54000000e+02 0.00000000e+00 ... 1.00000000e+00
  1.00000000e+00 2.00000000e+00]
 [2.00000005e+05 2.54000000e+02 0.00000000e+00 ... 1.00000000e+00
  1.00000000e+00 3.00000000e+00]
 ...
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 1.00000000e+00
  1.00000000e+00 1.00000000e+00]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 1.00000000e+00
  1.00000000e+00 1.00000000e+00]
 [1.11111107e+05 2.54000000e+02 0.00000000e+00 ... 1.00000000e+00
  1.00000000e+00 1.00000000e+00]]
All features:
Index(['rate', 'sttl', 'swin', 'dtcpb', 'dwin', 'ct_srv_src', 'ct_state_ttl',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_srv_dst'],
      dtype='object')
check the length here
27
27
**************************************************************************************************************
Apply Principle component analysis
2
[[-1.08814812e+09  7.61204031e+07]
 [-1.11373923e+09  7.76289112e+08]
 [-1.11276765e+09  7.49706866e+08]
 ...
 [-1.08156025e+09 -1.04122840e+08]
 [-1.08156025e+09 -1.04122840e+08]
 [-1.08324854e+09 -5.79314724e+07]]
the X1              dur  spkts  dpkts  ...  ct_flw_http_mthd  ct_src_ltm  is_sm_ips_ports
0       0.121478      6      4  ...                 0           1                0
1       0.649902     14     38  ...                 0           1                0
2       1.623129      8     16  ...                 0           2                0
3       1.681642     12     12  ...                 0           2                0
4       0.449454     10      6  ...                 0           2                0
...          ...    ...    ...  ...               ...         ...              ...
175336  0.000009      2      0  ...                 0          24                0
175337  0.505762     10      8  ...                 0           1                0
175338  0.000009      2      0  ...                 0           3                0
175339  0.000009      2      0  ...                 0          30                0
175340  0.000009      2      0  ...                 0          30                0

[175341 rows x 26 columns]
2
length of columns: 3
length of columns: 3
the PCA trabformation:             Column_A      Column_B  label
0      -3.443329e+08 -8.700065e+07      0
1       4.511673e+08 -5.580717e+07      0
2       1.148897e+09 -2.844868e+07      0
3       1.406411e+08 -6.799136e+07      0
4       1.468638e+09 -1.590140e+07      0
...              ...           ...    ...
175336 -9.676130e+08 -6.075430e+07      1
175337  2.550445e+09  2.652741e+07      1
175338 -9.676130e+08 -6.075430e+07      1
175339 -9.676130e+08 -6.075430e+07      1
175340 -9.676130e+08 -6.075430e+07      1

[175341 rows x 3 columns]
**************************************************************************************************************
this much
Apply MinMax scaler
**************************************************************************************************************
Apply Standard scaler
after minmax scaler:    Column_A  Column_B  label
0 -0.781847  0.440913      0
1 -0.800235  4.496510      0
2 -0.799537  4.342537      0
3 -0.792860  2.869956      0
4 -0.799432  4.319383      0
**************************************************************************************************************
The final train data
   Column_A  Column_B  label
0 -0.781847  0.440913      0
1 -0.800235  4.496510      0
2 -0.799537  4.342537      0
3 -0.792860  2.869956      0
4 -0.799432  4.319383      0
**************************************************************************************************************
The final test data
   Column_A  Column_B  label
0 -0.253880 -0.481090      0
1  0.332650 -0.308598      0
2  0.847092 -0.157313      0
3  0.103696 -0.375974      0
4  1.082840 -0.087930      0
**************************************************************************************************************

#6.**Save the preprocessed file**

In [52]:
data_set.to_csv('train_preprocessed.csv', index=False)
data_set_test.to_csv('test_preprocessed.csv', index=False)

In [55]:
data_set.head(5)

   Column_A  Column_B  label
0 -0.781847  0.440913      0
1 -0.800235  4.496510      0
2 -0.799537  4.342537      0
3 -0.792860  2.869956      0
4 -0.799432  4.319383      0