# **Project:** Network Attack Detection

**Data set:** UNSW-NB15 Dataset

**Source of Data set:**  https://research.unsw.edu.au/projects/unsw-nb15-dataset

**Information about Data set**
> 1. Training set = 82,332 records 
2. Test set = 175,341 records
3. Features = 49 mentioned here. https://cloudstor.aarnet.edu.au/plus/apps/onlyoffice/s/2DhnLGDdEECo4ys?fileId=206777051

# What is Intrusion Detection System?

Intrusion Detection System (IDS) is a system that monitors network traffic for suspicious activity and issues alerts when such activity is discovered.

**Detection Methods of IDS:**

**1. Signature-based Method:**

It detects the attacks on the basis of the

> 1.1. specific patterns such as number of bytes/ number of 1’s or number of 0’s in the network traffic. 

> 1.2. Known malicious instruction sequence that is used by the malware.

**2. Anomaly-detection Method:**

It detects the attacks using

> 2.1. Machine learning. It creates a trustful activity model and anything coming is compared with that model and it is declared suspicious if it is not found in model 

**Which method is better?**

*Anomaly-detection Method* method is more accepted in comparison to signature-based IDS because the machine learning models can be trained according to the applications and hardware configurations.

# Problem Statement

Network security is of prime importance these days. We need to protect our data and systems from attackers. A network attack attempts to gain unauthorized access to the network and take advantage of the vulnerablites of the network. 
In this project, we will predict the network attack that is happening over the network using the above mentioned dataset. 

The type of attacks investigated are: 
1. Fuzzers
2. Analysis
3. Backdoors
4. DoS
5. Exploits
6. Generic
7. Reconnaissance
8. Shellcode 
9. Worms

In [234]:
import pandas as pd   #for dataframes
import numpy as np  #for array

import warnings
warnings.filterwarnings("ignore")

from sklearn.preprocessing import OneHotEncoder  #for encoding of categorical columns

Reading the Dataset csv using the link of another git hub repo.

In [235]:
train = pd.read_csv('https://raw.githubusercontent.com/ushukkla/nospammers/master/UNSW_NB15_training-set.csv')
test = pd.read_csv('https://raw.githubusercontent.com/ushukkla/nospammers/master/UNSW_NB15_testing-set.csv')

In [236]:
train.head(10)

   id       dur proto service  ... ct_srv_dst  is_sm_ips_ports  attack_cat  label
0   1  0.000011   udp       -  ...          2                0      Normal      0
1   2  0.000008   udp       -  ...          2                0      Normal      0
2   3  0.000005   udp       -  ...          3                0      Normal      0
3   4  0.000006   udp       -  ...          3                0      Normal      0
4   5  0.000010   udp       -  ...          3                0      Normal      0
5   6  0.000003   udp       -  ...          2                0      Normal      0
6   7  0.000006   udp       -  ...          2                0      Normal      0
7   8  0.000028   udp       -  ...          3                0      Normal      0
8   9  0.000000   arp       -  ...          2                1      Normal      0
9  10  0.000000   arp       -  ...          2                1      Normal      0

[10 rows x 45 columns]

# Dropping unnecessary columns

One such column is 'id'

In [237]:
train = train.drop(['id'],axis=1)

In [238]:
test = test.drop(['id'],axis=1)

In [239]:
print(train.shape,'\n',test.shape)

(82332, 44)
 (175341, 44)

# Check for Missing Values

Since the dataset was clean, we donot have any missing values as seen below.

In [240]:
# checking for null values
train.isnull().sum()

dur                  0
proto                0
service              0
state                0
spkts                0
dpkts                0
sbytes               0
dbytes               0
rate                 0
sttl                 0
dttl                 0
sload                0
dload                0
sloss                0
dloss                0
sinpkt               0
dinpkt               0
sjit                 0
djit                 0
swin                 0
stcpb                0
dtcpb                0
dwin                 0
tcprtt               0
synack               0
ackdat               0
smean                0
dmean                0
trans_depth          0
response_body_len    0
ct_srv_src           0
ct_state_ttl         0
ct_dst_ltm           0
ct_src_dport_ltm     0
ct_dst_sport_ltm     0
ct_dst_src_ltm       0
is_ftp_login         0
ct_ftp_cmd           0
ct_flw_http_mthd     0
ct_src_ltm           0
ct_srv_dst           0
is_sm_ips_ports      0
attack_cat           0
label                0
dtype: int64

In [241]:
# checking for null values
test.isnull().sum()

dur                  0
proto                0
service              0
state                0
spkts                0
dpkts                0
sbytes               0
dbytes               0
rate                 0
sttl                 0
dttl                 0
sload                0
dload                0
sloss                0
dloss                0
sinpkt               0
dinpkt               0
sjit                 0
djit                 0
swin                 0
stcpb                0
dtcpb                0
dwin                 0
tcprtt               0
synack               0
ackdat               0
smean                0
dmean                0
trans_depth          0
response_body_len    0
ct_srv_src           0
ct_state_ttl         0
ct_dst_ltm           0
ct_src_dport_ltm     0
ct_dst_sport_ltm     0
ct_dst_src_ltm       0
is_ftp_login         0
ct_ftp_cmd           0
ct_flw_http_mthd     0
ct_src_ltm           0
ct_srv_dst           0
is_sm_ips_ports      0
attack_cat           0
label                0
dtype: int64

Check what all network attacks are identified by the dataset

In [242]:
train['attack_cat'].value_counts()

Normal            37000
Generic           18871
Exploits          11132
Fuzzers            6062
DoS                4089
Reconnaissance     3496
Analysis            677
Backdoor            583
Shellcode           378
Worms                44
Name: attack_cat, dtype: int64

Getting name of all the columns of the dataset to see what should be the expected datatype of each column

In [243]:
train.columns

Index(['dur', 'proto', 'service', 'state', 'spkts', 'dpkts', 'sbytes',
       'dbytes', 'rate', 'sttl', 'dttl', 'sload', 'dload', 'sloss', 'dloss',
       'sinpkt', 'dinpkt', 'sjit', 'djit', 'swin', 'stcpb', 'dtcpb', 'dwin',
       'tcprtt', 'synack', 'ackdat', 'smean', 'dmean', 'trans_depth',
       'response_body_len', 'ct_srv_src', 'ct_state_ttl', 'ct_dst_ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm',
       'is_ftp_login', 'ct_ftp_cmd', 'ct_flw_http_mthd', 'ct_src_ltm',
       'ct_srv_dst', 'is_sm_ips_ports', 'attack_cat', 'label'],
      dtype='object')

In [244]:
# see if binary columns are really binary
for col in 'is_sm_ips_ports', 'is_ftp_login':
    print(train[col].value_counts())
    print()

0    81416
1      916
Name: is_sm_ips_ports, dtype: int64

0    81654
1      674
2        4
Name: is_ftp_login, dtype: int64


The col "is_ftp_login" has wrong values like 2. It should only have binary values like 0 and 1. If the ftp session is accessed by user using correct username and password then 1, otherwise 0. We need to fix this.

Therefore, we are replacing all the values other than 0 and 1 from these two columns.

In [245]:
train['is_ftp_login'] = np.where(train['is_ftp_login']>1, 1, train['is_ftp_login'])

In [246]:
train['is_ftp_login'].value_counts()

0    81654
1      678
Name: is_ftp_login, dtype: int64

Similarly, do this for the test dataset

In [247]:
# see if binary columns are really binary
for col in 'is_sm_ips_ports', 'is_ftp_login':
    print(test[col].value_counts())
    print()

0    172579
1      2762
Name: is_sm_ips_ports, dtype: int64

0    172774
1      2545
4        16
2         6
Name: is_ftp_login, dtype: int64

In [248]:
test['is_ftp_login'] = np.where(test['is_ftp_login']>1, 1, test['is_ftp_login'])

In [249]:
test['is_ftp_login'].value_counts()

0    172774
1      2567
Name: is_ftp_login, dtype: int64

In [250]:
train['service'].value_counts()

-           47153
dns         21367
http         8287
smtp         1851
ftp          1552
ftp-data     1396
pop3          423
ssh           204
ssl            30
snmp           29
dhcp           26
radius          9
irc             5
Name: service, dtype: int64

In [251]:
test['service'].value_counts()

-           94168
dns         47294
http        18724
smtp         5058
ftp-data     3995
ftp          3428
ssh          1302
pop3         1105
dhcp           94
snmp           80
ssl            56
irc            25
radius         12
Name: service, dtype: int64

In the feature "service" we see that we have "-". We need to replace that as well.

In [252]:
# removing all the "-" and replacing those with "None"
train['service'] = train['service'].apply(lambda x:"None" if x=="-" else x)
test['service'] = test['service'].apply(lambda x:"None" if x=="-" else x)

In [253]:
train['service'].value_counts()

None        47153
dns         21367
http         8287
smtp         1851
ftp          1552
ftp-data     1396
pop3          423
ssh           204
ssl            30
snmp           29
dhcp           26
radius          9
irc             5
Name: service, dtype: int64

In [254]:
test['service'].value_counts()

None        94168
dns         47294
http        18724
smtp         5058
ftp-data     3995
ftp          3428
ssh          1302
pop3         1105
dhcp           94
snmp           80
ssl            56
irc            25
radius         12
Name: service, dtype: int64

In [255]:
# train = train.drop(columns=['attack_cat'])
# test = test.drop(columns=['attack_cat'])

In [256]:
print(train.shape)
print(test.shape)

(82332, 44)
(175341, 44)

# Enconding Categrical Data- One Hot Encoding

In our dataset we have few categorical columns with text data. But when we apply ML models to our data, then we need every data to be numerical. 

So we have to convert categorical columns to numerical columns in some way. We will use one hot encoder where we will assign 1 if the value is present for the row and rest of the columns will be 0.

In [257]:
# creating x and y set from the dataset
x_train, y_train = train.drop(columns=['label']), train['label']
x_test, y_test = test.drop(columns=['label']), test['label']

In [258]:
test['label'].value_counts()

1    119341
0     56000
Name: label, dtype: int64

In [259]:
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(82332, 43) (82332,)
(175341, 43) (175341,)

In [260]:
# Onehot Encoding
service_ = OneHotEncoder()
proto_ = OneHotEncoder()
state_ = OneHotEncoder()
ohe_service = service_.fit(x_train.service.values.reshape(-1,1))
ohe_proto = proto_.fit(x_train.proto.values.reshape(-1,1))
ohe_state = state_.fit(x_train.state.values.reshape(-1,1))

In [261]:
# We are onehot encoding the given column
# Remove the original categorical column
for col, ohe in zip(['proto', 'service', 'state'], [ohe_proto, ohe_service, ohe_state]):
    x = ohe.transform(x_train[col].values.reshape(-1,1))
    tmp_df = pd.DataFrame(x.todense(), columns=[col+'_'+i for i in ohe.categories_[0]])
    x_train = pd.concat([x_train.drop(col, axis=1), tmp_df], axis=1)

In [262]:
ohe_service = service_.fit(x_test.service.values.reshape(-1,1))
ohe_proto = proto_.fit(x_test.proto.values.reshape(-1,1))
ohe_state = state_.fit(x_test.state.values.reshape(-1,1))

In [263]:
# We are onehot encoding the given column
# Remove the original categorical column
for col, ohe in zip(['proto', 'service', 'state'], [ohe_proto, ohe_service, ohe_state]):
    x = ohe.transform(x_test[col].values.reshape(-1,1))
    tmp_df = pd.DataFrame(x.todense(), columns=[col+'_'+i for i in ohe.categories_[0]])
    x_test = pd.concat([x_test.drop(col, axis=1), tmp_df], axis=1)

In [264]:
x_train.head()

        dur  spkts  dpkts  sbytes  ...  state_FIN  state_INT  state_REQ  state_RST
0  0.000011      2      0     496  ...        0.0        1.0        0.0        0.0
1  0.000008      2      0    1762  ...        0.0        1.0        0.0        0.0
2  0.000005      2      0    1068  ...        0.0        1.0        0.0        0.0
3  0.000006      2      0     900  ...        0.0        1.0        0.0        0.0
4  0.000010      2      0    2126  ...        0.0        1.0        0.0        0.0

[5 rows x 191 columns]

In [265]:
x_test.head()

        dur  spkts  dpkts  sbytes  ...  state_REQ  state_RST  state_URN  state_no
0  0.121478      6      4     258  ...        0.0        0.0        0.0       0.0
1  0.649902     14     38     734  ...        0.0        0.0        0.0       0.0
2  1.623129      8     16     364  ...        0.0        0.0        0.0       0.0
3  1.681642     12     12     628  ...        0.0        0.0        0.0       0.0
4  0.449454     10      6     534  ...        0.0        0.0        0.0       0.0

[5 rows x 195 columns]

# Saving the cleaned files to new CSV

In [266]:
train.shape, test.shape

((82332, 44), (175341, 44))

In [267]:
train.to_csv('./train_cleaned.csv', index=False)
test.to_csv('./test_cleaned.csv', index=False)